data/*/
data/fakenews_tw_output
data/users/*
data/tweets/*
data/claims_fluency_emotions
data/emotion_dictionary
tokens.json
*.pyc
.DS_Store
*environment.yml
*ipynb
data/all_tweets.pickle
visualizations/